[submodule "modules/columnflow"]
	path = modules/columnflow
	url = git@github.com:emretoka28/columnflow.git
	branch = Test
[submodule "modules/cmsdb"]
	path = modules/cmsdb
	url = git@github.com:emretoka28/cmsdb.git
	branch = master
